/* ここから下に記載していく */
body .b {color: #ffd61a;
font-size: 24px;
margin-top: 60px;
margin-bottom: 30px;}
body .a{line-height: 40px;}
body .e.d{justify-content: center;}
body h1,h4 {background-image:url("/Users/nishikawakyo/Downloads/kadai_file 2/kadai_html/html_nishikawa_36/img/mainbg.png");}